html {
    box-sizing: border-box;
    font-family: 'Noto Serif KR', sans-serif;
}

body {
    background-color: lightslategray;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    flex-wrap: wrap;
}

nav {
    display: flex;
    flex-direction: row;
}

main {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main p {
    padding: 25px;
    margin-bottom: 0;
}

section {
    border-bottom: 2px solid lightgray;
}

#movieImage,
#expenseImage,
#retirementImage {
    width: 350px;
}

nav a {
    text-decoration: none;
    color: black;
    margin-right: 10px;
}

nav {
    margin-bottom: 10px;
}

.tech {
    padding-left: 25px;
    margin-bottom: 10px;
}

.screenShot {
    margin-top: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#headline {
    background: black;
    color: white;
    padding: 20px 10px 20px 10px;
    font-weight: bold;
    font-size: 1.25em;
    font-style: italic;
}

#contact {
    text-align: center;
    width: 80%;
}

#contactForm {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.inputDiv {
    display: flex;
    flex-direction: column;
}


@media screen and (min-width: 768px) {
    header {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: space-between;
    }
    nav {
        justify-self: end;
    }
    section {
        display: flex;
        flex-direction: row;
    }
    #contact {
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    #movieImage,
    #expenseImage,
    #retirementImage {
        width: 450px;
    }

    #headline {
        width: 450px;
    }
}



